.App-header {
    background-color: #FFFFFF;;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    color: black;
    border: none;
    border-bottom: #EEEEEE 1px solid;
}

.App-header-leftItem {
  margin-left: 64px;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 60px;
}
.App-header-leftItem span {
  display: inline-block;
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
}
.App-header-leftItem:hover {
  cursor: pointer;
}
.App-header h1 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0 5vw;
}
.App-parentMap {
  padding: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.App-map {
  /* margin: 0; */
  padding: 0;
}
.App-resizeBackground {
  z-index: 900;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: calc(50vw + 20px);
  top: 160px;
  border: none;
  background-color: #1A1A1A;
  border-radius: 4px;
 
  height: 40px;
}
.App-resizeBackground:hover {
 
  cursor: pointer;
  transform: scale(0.9);
}
.App-resizeBackground img {
  padding: 5px;
  height: 30px;
}
iFrame {
  border: none !important;
  /* border-radius: 32px; */
}
.App-info {
  position: absolute;
  width: 50vw;
  height: calc(100vh - 80px);
  overflow: hidden;
}
.App-infoPositions {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 40vw;
  padding: 0 5vw;
  position: relative;
}
.App-infoPositions::-webkit-scrollbar {
  width: 10px; /* Szerokość paska przewijania */
  height: 30px;
}

.App-infoPositions::-webkit-scrollbar-track {
  background: white; /* Kolor tła paska przewijania */
}

.App-infoPositions::-webkit-scrollbar-thumb {
  background: #EEEEEE; /* Kolor samego paska przewijania */
}

.App-infoPositions::-webkit-scrollbar-thumb:hover {
  background: #555; /* Kolor paska przewijania po najechaniu na niego myszką */
}
.App-infoPositionsTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  width: 80%;
}
.App-infoPositionsText{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 80px;
}
.App-infoPositionsIconBackground{
  position: absolute;
  right: 20px;
  top: 50%;
  height: 54px;
  width: 54px;
  transform: translateY(-50%);
}
.App-infoPositionsIconBackground:hover{
  cursor: pointer;
  transform: translateY(-50%) scale(0.9);
}
.App-infoPositionsIcon {
  height: 100%;
  width: 100%;
  margin: 0%;
  color: #EEEEEE;

  pointer-events: none; 
}
.App-infoPositionForm {
  width: 100%;
  position: relative;
  
}
.App-infoPositionsInput {
  
  border-radius: 4px;
  font-size: 2rem;
  font-weight: lighter;
  height: 54px;
  padding: 10px 20px;
  width: calc(100% - 50px);
 background-color: #EEEEEE;;
 border: none;
}
.App-infoPositionsInputUp {
  
  max-width: 50%;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: lighter;
  height: auto;
  padding: 10px 20px;
  width: calc(100% - 50px);
 background-color: #EEEEEE;;
 border: none;

}
.App-infoPositionsInput:focus, .App-infoPositionsInputUp:focus{
  outline: none;
}
.opacityAnimation {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.opacityAnimation2 {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}


/* calculator */
.grid-infoPositions {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 50vw;
  margin: 0;
  position: relative;
}
.grid-infoPositions::-webkit-scrollbar {
  width: 10px; /* Szerokość paska przewijania */
  height: 30px;
}

.grid-infoPositions::-webkit-scrollbar-track {
  background: white; /* Kolor tła paska przewijania */
}

.grid-infoPositions::-webkit-scrollbar-thumb {
  background: #EEEEEE; /* Kolor samego paska przewijania */
}

.grid-infoPositions::-webkit-scrollbar-thumb:hover {
  background: #555; /* Kolor paska przewijania po najechaniu na niego myszką */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px; 
  width: 80%;
  margin-left: 10%;
  margin-bottom: 100px;
  margin-top: 240px;
}
.grid-item {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.grid-image {
  border-radius: 24px;
  background-color: #EEEEEE;
  width: 100%;
}
.grid-info {
  position: absolute;
  top: calc(1rem + 30px);
  left: 0;
  background-color: #D9D9D9;
  opacity: 0.9;
  width: 90%;
  margin-left: 5%;
  border-radius: 4px;
}
.grid-infoText {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #353535;
}
.grid-text {
  margin: 4px 0;
  font-size: 1rem;
  font-weight: bold;
  min-height: 2.5rem;

}
.grid-form {
  position: relative;
}


.grid-input {
  width: 100%;
  border: none;
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
   /* leave space for the icons */
}
.input-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 999;
}
.grid-iconMore {
  position: absolute;
  z-index: 900;
  right: 0.5rem;
  top: 0.5rem;
  height: calc(1rem + 10px);
  max-width: 20%;

}
.grid-icon, .grid-icon2 {
  height: 100%;
}
.grid-icon:hover, .grid-icon2:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.clickAnimation {
  animation: clickAnimation 0.3s linear;
}
@keyframes clickAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}
.global-buttonBig {
  
  border-radius: 4px;
  background-color: #010101;
  opacity: 0.9;
  font-size: 1.5rem;
  font-weight: bold;
 
  width: 90%;
  max-width: 30vw;
 margin: 20px auto;
  position: relative;

  
}
.global-buttonBig p {
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
.global-buttonBig:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(0.95);
}
.global-buttonBig:active {
  transform: scale(0.9);
  
}
.global-buttonBigNotActive {
  border-radius: 4px;
  opacity: 0.9;
  font-size: 1.5rem;
  font-weight: bold;
  width: 90%;
  max-width: 30vw;
 margin: 20px auto;
  position: relative;
  background-color: #424242;
}
.global-buttonBigNotActive p {
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
/* Math */
.Math-operation {
  display: flex;
  align-items: center;
  background-color: #EEEEEE;
  padding: 10px 80px;
  border-radius: 4px;
  position: relative;
}
.Math-operation p {
  font-size: 1.5rem;
  font-weight: 800;
}
.Math-line {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: #1f1f1f;
  
}
.Math-fraction {
  text-align: center;
  margin-right: 0.75em;
  
}

.Math-numerator {
  display: block;
  padding-bottom: 0.2em;
  font-size: 1.5em;
  font-weight: 800;
  border-bottom: 1px solid black;
}

.Math-denominator {
  display: block;
  padding-top: 0.2em;
  font-size: 1.5em;
  font-weight: 800;
}
.message-icon{
  position: absolute;
  right: -20px;
  top: 10px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-infoIfBAF{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.myTable {
  margin-top: 20px;
  width: 90%;
  position: relative;
}

.myTable td {
  width: 15%;
  padding: 0 5%;
  position: relative;
  text-align: center;
  border: none;
  border-top: 2px solid #EEEEEE;
  font-size: 1.2rem;
  font-weight: 500;
}
.myTable td img {
  width: 100%;
}
.sliderX-container{
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: none;
  position: absolute;
  width: 100%;
}


/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.sliderX-container::-webkit-scrollbar {
  width: 0.5em;
}

.sliderX-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.sliderX-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.sliderX-backItem {
  width: 150px;
  display: inline-block;
  position: relative;
  padding-right: 50px;
  
}
.sliderX-backItemNone{
  opacity: 0.5;
}
.sliderX-backItemLine{
  position: absolute;
  height: 5px;
  width: 150px;
  bottom: 0;
  background-color: #010101;

}
.sliderX-item {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  
}
.sliderX-image {
  width: 50%;
  margin: 25%;
}
.sliderX-text {
  margin: 4px 0;
  font-size: 1rem;
  font-weight: bold;
  min-height: 2.5rem;
  text-align: center;
  width: 100%;
}